{% extends 'base.html' %}
{% block title %}
Chat Page
{% endblock %}
{% block body %}
<div class="container" style="width:75%;margin-top: 75px;margin-left: auto;margin-right: auto;">
    <h1>{{username}}'s Group Chat</h1>
    <div id="scrollspy" data-spy="scroll" data-target="#navbar-example2" style="overflow-y: scroll;height:350px;" data-offset="0">
        <div class="container py-3">
            {%for message_item in messages%}
            {% for sender,message in message_item.items()%}
            <div class="card">
                <div class="card-header">
                    {{sender}}
                </div>
                <div class="card-body">
                  <blockquote class="blockquote mb-0">
                    <p>{{message}}</p>
                  </blockquote>
                </div>
              </div>
            {%endfor%}
            {%endfor%}
        </div>
    </div>
    <form class="form-inline mt-3" action="/chat/{{username}}" method="POST">
        <input type="text" class="form-control mb-2 mr-sm-2 col-10" id="msg" name="msg" placeholder="Type Your Message">
        <button type="submit" class="btn btn-primary mb-2 col-1">Send</button>
    </form>
</div>
{% endblock %}
{% block script %}
$("#scrollspy").scrollTop($("#scrollspy")[0].scrollHeight);
$("#msg").focus();
{% endblock %}