{%extends 'base.html'%}
{% block title %}Login{% endblock %}
{% block style %}

{% endblock %}
{% block body %}
<div class="container mt-5" style="height: 50%;">
  <center><form action='/' method="POST">
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" class="form-control" id="username" autofocus name="username" aria-describedby="emailHelp" placeholder="Enter email">
    </div>
    <button type="submit" class="btn btn-primary col-5">Submit</button>
  </form></center>
  <h1>{{mystring}}</h1>
  </div>
{% endblock %}